<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/layout.css">
  <title>Document</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
  <body>
    <div id="loginruta">
      <p class="font">Profile</p>
        <div id="profilecrate-div">
          <form method="post" action="/profilecrate" enctype="multipart/form-data">
          <p><input type="text" name="profilename" value="" placeholder="name" class="rutor"></p>
            <p><input type="file" name="avatar" value=""></p>
          <button id="register-button" type="submit" name="knapp">crate profile</button>
          </form>
        </div>
    </div>
  </body>
</html>