<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/layout.css">
  <title>Document</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="loginruta">
  <p class="font">Registration</p>
  <div id="registration">
    <form method="post" action="/register">
      <p><input type="text" name="mail" value="" placeholder="Email" class="rutor"></p>
      <p><input type="text" name="user" value="" placeholder="Username" class="rutor"></p>
      <p><input type="text" name="namn" value="" placeholder="Full name" class="rutor"></p>
      <p><input type="password" name="password" value="" placeholder="Password" class="rutor-pass"></p>
      <p><input type="date" name="bday" value="" placeholder="Birth date" class="rutor-date"></p>
      <button id="register-button" type="submit" name="commit">Register</button>
  </div>
</div>
</body>
</html>